.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 20px;
    margin-top: 30px;
}
.btn-proceed{
    background: #FF9900;
    width: 100%;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.619);
   
}
.proceed-link{
    text-decoration: none;
}